*{
    margin: 0px;
    padding: 0px;
}
body,html{
    height: 100%;
}
.bg_img{
    background-image: url(images/body_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
}
.bg_banner{
    background-color: rgba(0,0,0,0.7);
}

